
html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin: 0 auto -45px; /* the bottom margin is the negative value of the footer's height */
}

footer,
.push {
  height: 45px; /* .push must be the same height as .footer */
  text-align: center;
  line-height: 45px;
  vertical-align: middle;
}

/******************************************************************************/

.flash.success {
	color: #43ac6a;
}

.flash.warning {
	color: orange;
}

.flash.error {
	color: #f04124;
}

.flash p {
	margin-bottom: 0;
}

/******************************************************************************/

.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }

/******************************************************************************/
/* ***** EDIT FROM HERE BELOW
/******************************************************************************/

.NameOfPresenter {
	/* targetting all presenter's templates with capitalized classname */
}

.ActionOfPresenter {
	/* targetting presenter's action with capitalized classname */
}

.my-custom-class {
	/* targetting custom elements always all lowercase classname */
}

/******************************************************************************/

table {
	width: 100%;
}

table p {
	margin-bottom: 0;
}

tr:not(:last-child) th:empty,
td.thin,
th.thin {
	width: 1%;
}

textarea {
	resize: none;
}

/******************************************************************************/

.no-margin {
	margin: 0;
}

.hidden {
	display: none;
}

table input,
table select {
	margin: 0 !important;
}

.editable + form table th {
	display: none !important;
}

.centerAlign {
	text-align: center;
}

.smallerFont * {
	font-size: 12px !important;
}

.smallerFont td {
	padding-top: 3px;
	padding-bottom: 3px;
}

input.smallerFont {
	height: 25px;
}

.tiny.button {
	padding-top: 2px;
	padding-bottom: 2px;
}

/******************************************************************************/

.menu {
	margin-bottom: 20px;
}

/******************************************************************************/

.Events time,
.News time {
	float: right;
}

.News img {
	width: 150px;
	float: right;
	margin: 0 0 10px 10px;
}

.News h2 img {
	height: 50px;
}

/******************************************************************************/

.Files .labels-outer,
.Files .labels {
    display: inline-block;
}

.Files h1 .labels-outer {
	float: right;
}

.Files .labels {
    margin-right: 5px;
}

.Files table .labels {
    text-align: center;
}

.Files h1 .labels-outer a {
    padding: 5px;
    min-width: 60px;
    border: 1px solid black;
}

.Files h1 .labels a.active,
.Files h1 .labels a:hover {
    text-decoration: underline;
}

.Files .labels a,
.Files .labels-outer a {
    padding: 0 3px;
	border-radius: 5px;
	font-size: 12px;
	display: inline-block;
	text-align: center;
    color: black; /* might be changed by JScript to white if label color too dark, see Files/default.latte */
}

.Files h1 .labels a:not(:last-child),
.Files li .labels a:not(:last-child) {
	margin-right: 5px;
}

.Files .labels a:hover,
.Files .labels a.active {
	background-color: #eee;
}

.Files select[multiple] {
    height: 100px;
}

.Files ul {
}

.Files span {
	font-size: 11px;
	font-style: italic;
}

.Files input[type=color] {
	padding: 2px;
	border: 0;
}

#addLabelForm,
#updateLabelForm {
	display: none;
}

/******************************************************************************/

.Forum table td.fixedWidth {
	width: 180px;
	background-color: #f9f9f9;
}

.Forum table td.fixedWidth2 {
	width: 100px !important;
}

.Forum table .button {
	width: 96px;
}

.Forum hr {
	margin: 10px 0 5px 0;
}

#addPostForm,
#editPostForm,
#addCommentForm,
#editCommentForm {
	display: none;
}

.Forum table.newPost {
	display: none;
}

.Forum div.comment {
	display: inline;
}

/******************************************************************************/

.Photogallery .album {
	border: 1px solid red;
	width: 200px;
	height: 250px;
	padding: 10px;
	margin: auto;
	margin-bottom: 50px;
	clear: both;
}

.Photogallery .album .cover {
	border: 1px solid blue;
	height: 150px;
	clear: both;
}

.Photogallery p {
	text-align: center;
	margin-top: 10px;
	line-height: 100%;
}

.Photogallery .name + br {
	line-height: 25px;
}

.Photogallery .created,
.Photogallery .updated {
	font-size: 10px;
}

.thumbnail {
	min-height: 50px;
	min-width: 100px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

/******************************************************************************/

footer {
	font-size: 11px;
	background-color: #333;
	color: white;
}

footer a {
	color: #56c4cf;
}
