
html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin: 0 auto -45px; /* the bottom margin is the negative value of the footer's height */
}

footer,
.push {
  height: 45px; /* .push must be the same height as .footer */
  text-align: center;
  line-height: 45px;
  vertical-align: middle;
}

/*****************************************************************************/

.flash.success {
	color: #43ac6a;
}

.flash.warning {
	color: orange;
}

.flash.error {
	color: #f04124;
}

.flash p {
	margin-bottom: 0;
}

/*****************************************************************************/
/* ***** EDIT FROM HERE BELOW
/*****************************************************************************/

.my-custom-class {
	/* */
}

/*****************************************************************************/

table {
	width: 100%;
}

tr:not(:last-child) th:empty,
td.thin,
th.thin {
	width: 1%;
}

textarea {
	resize: none;
}

/*****************************************************************************/

.no-margin {
	margin: 0;
}

.hidden {
	display: none;
}

table input,
table select {
	margin: 0 !important;
}

.editable + form table th {
	display: none !important;
}

.centerAlign {
	text-align: center;
}

.smallerFont * {
	font-size: 12px !important;
}

.smallerFont td {
	padding-top: 3px;
	padding-bottom: 3px;
}

input.smallerFont {
	height: 25px;
}

.tiny.button {
	padding-top: 2px;
	padding-bottom: 2px;
}

/*****************************************************************************/

.menu {
	margin-bottom: 20px;
}

/*****************************************************************************/

.events time,
.news time {
	float: right;
}

.news img {
	width: 150px;
	float: right;
	margin: 0 0 10px 10px;
}

.news h2 img {
	height: 50px;
}

/*****************************************************************************/

.files ul {
}

.files span {
	font-size: 11px;
	font-style: italic;
}

/*****************************************************************************/

.forum table td.fixedWidth {
	width: 180px;
	background-color: #f9f9f9;
}

.forum table td.fixedWidth2 {
	width: 100px !important;
}

.forum table .button {
	width: 96px;
}

.forum hr {
	margin: 10px 0 5px 0;
}

#addPostForm,
#editPostForm,
#addCommentForm,
#editCommentForm {
	display: none;
}

.forum table.newPost {
	display: none;
}

.forum div.comment {
	display: inline;
}

/*****************************************************************************/

.photogallery .album {
	border: 1px solid red;
	width: 200px;
	height: 250px;
	padding: 10px;
	margin: auto;
	margin-bottom: 50px;
	clear: both;
}

.photogallery .album .cover {
	border: 1px solid blue;
	height: 150px;
	clear: both;
}

.photogallery p {
	text-align: center;
	margin-top: 10px;
	line-height: 100%;
}

.photogallery .name + br {
	line-height: 25px;
}

.photogallery .created,
.photogallery .updated {
	font-size: 10px;
}

.thumbnail {
	min-height: 50px;
	min-width: 100px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
