{block content}

  <div class="row">
    <div class="large-12 columns">
    	<div{if $acl->isAllowed($user->roles, Authorizator::PAGES_RESOURCE, 'edit')} class="editable"{/if}>
			{!$page}
		</div>
		{if $acl->isAllowed($user->roles, Authorizator::PAGES_RESOURCE, 'edit')}
  		{control editPageForm}
  	{/if}
    </div>
  </div>

{/block}
