{block content}

  {if $acl->isAllowed($user->roles, Authorizator::PAGES_RESOURCE, 'edit')}
	 <div class="editable">{!$page}</div>
  {else}
    <div>{!$page}</div>
  {/if}
	{if $acl->isAllowed($user->roles, Authorizator::PAGES_RESOURCE, 'edit')}
		{control editPageForm}
	{/if}
