{block content}

<div class="row">
    <div class="large-12 columns">

        <h2>Úprava události {$event->heading} k {$event->date->format('j. n. Y')}</h2>

        {control editEventForm}
      
    </div>
  </div>
